<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Orden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orden</ion-title>
      <ion-button
        slot="end"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        expand="block"
        fill="clear"
        shape="round"
      >
        <ion-icon name="arrow-back-outline"></ion-icon>
        Atrás
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <img src="assets/taco-pastor.jpeg" alt="" />
  </ion-item>

  <ion-item>
    <ion-label>Tipo de tortilla</ion-label>
    <ion-select value="maiz" interface="popover">
      <ion-select-option value="maiz">Maiz</ion-select-option>
      <ion-select-option value="harina">Harina</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Condimentos</ion-label>
    <ion-select multiple="true" interface="popover">
      <ion-select-option value="cilantro">Cilantro</ion-select-option>
      <ion-select-option value="cebolla">Cebolla</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-fab-button
        size="small"
        fill="outline"
        color="primary"
        (click)="decrement()"
      >
        <ion-icon name="remove"></ion-icon>
      </ion-fab-button>
      <p>{{currentNumber}}</p>
      <ion-fab-button
        size="small"
        fill="outline"
        color="primary"
        (click)="increment()"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-row>
  </ion-grid>
</ion-content>
