/* Utilidades */
.m-0{
    margin: 0;
}

.rule{
    margin-top: 5px;
    border-bottom: 1px solid white;
    width: 25%;
}

/* Guests styles */
.header-spaces{
    position: relative;
    text-align: center;
    margin-left: 10px;

    height: auto;
    width: 25%;

    padding: 20px;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* form styles */

.form-container{
    flex-direction: column;
}

.row{
    margin-top: 10px;
}

.btn{
    cursor: pointer;
    border: none;
}