body{
    margin: 0;
    height: 100vh;
}

.header{
    height: 100%;

    background-image: url('./assets/woman.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

.header-content{
    position: absolute;

    width: 50%;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;

    text-align: center;
}

.mt-0{
    margin-top: 0;
}

.btn{
    position: absolute;
    right: 0;

    border-radius: 50px;

    color: black;
    background-color: white;
    padding: 9px;

    text-decoration: none;
}

.btn:hover{
    background-color: rgb(208, 208, 208);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);;
}

.btn-image{
    height: 15px;
}

.center{
    justify-content: center;
    align-items: center;
}